$darkBlue: #10243f;
$lightBlue: #2269df;
$lightGreen: #f0fafb;
$lightPurple: #f1eaff;
$green: #00dda4;
$orange: #ffa214;
$nav: #10243f;
$subtitle: grey;
$textColor1: #1b1e27;
$textColor2: #494d59;
$textColor3: #6d717b;
$textColor4: #8d93a1;
$textColor5: #bfc5d1;
$textColor6: #d0d4e1;
$textColor7: #e7e8ee;
