@use "variables" as v;

.hero {
  padding: 0px 100px 20px 100px;
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin-left: 110px;
  margin-top: 80px;

  .left {
    width: 50%;
    height: 100%;
    position: relative;

    .tag {
      display: flex;
      font-size: 14px;
      font-family: Bold;
      color: black;
      background-image: linear-gradient(to right, #02daa7, #19aecb, #2c8aea);
      width: 200px;
      justify-content: center;
      border-radius: 20px;
      padding: 7px 8px 8px 10px;
      margin-bottom: 10px;
      position: absolute;
      top: -50px;
      left: 0px;
    }

    .title {
      font-family: Bold;
      font-size: 70px;
      color: white;
      line-height: 70px;
      font-weight: bolder;
    }

    .optional {
      margin-top: 40px;
      margin-bottom: 20px;
      background-image: linear-gradient(to right, #02daa7, #067fcd);
      background-size: 100%;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Bold;
    }

    .subtitle {
      margin-top: 40px;
      color: v.$subtitle;
      font-family: Bold;
    }

    .mobile {
      font-family: SemiBold;
      color: #aec0d7;
      font-size: 40px;
      display: flex;
      align-items: center;

      span {
        color: #24364f;
        margin-left: 5px;
        flex: 1;
      }

      .subicon {
        font-family: Bold;
        display: flex;
        background-color: v.$nav;
        width: 100px;
        padding: 10px 16px;
        margin: 0px 0px 10px 0px;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: v.$green;
        font-size: 14px;
        border: 1px solid v.$green;
      }
    }

    .links {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;

      .link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border-radius: 20px;
        width: 200px;
        border: 3px solid #2d486c;
        margin-right: 5px;
        background-color: #1a1c25;

        .linkIcon {
          font-size: 20px;
          color: v.$subtitle;
          margin-right: 5px;
        }
        .linkTag {
          color: v.$subtitle;
          font-family: SemiBold;
          font-size: 10px;
        }
        .linkTitle {
          font-family: Bold;
          color: white;
          font-size: 14px;
        }
      }
    }
  }
  .right {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 50px;

    object-fit: contain;
    img {
    }
  }
}
