@use "variables" as v;

.home {
  .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: v.$lightGreen;
    height: auto;
    padding: 20px 100px 20px 100px;

    .pay {
      font-family: Bold;
      width: 150px;
      background-color: white;
      border-radius: 10px;
      padding: 5px;
      font-size: 12px;
      text-align: center;
      margin-top: 40px;
      color: v.$textColor3;
    }

    .access {
      text-align: center;
      margin-top: 10px;
      color: v.$textColor1;
      font-family: Bold;
      font-size: 30px;
      line-height: 1.3;
    }

    .process {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      width: 900px;
      padding: 20px;
      margin-top: 40px;

      .process1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        line-height: 1.5;

        .icon {
          display: flex;
          background-color: white;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
          margin-bottom: 10px;
          color: v.$iconBlue;
        }

        .info {
          font-family: Bold;
          font-size: 18px;
          margin-top: 5px;
        }

        .subInfo {
          color: v.$textColor4;
          font-family: Bold;
          font-size: 14;
          margin-top: 5px;
        }

        .num {
          font-size: 50px;
          color: v.$textColor7;
          font-family: Regular;
          margin-bottom: 10px;
        }
      }
    }
  }
  .sections {
    display: flex;
    justify-content: center;
    padding: 50px 100px 50px 100px;
    flex-direction: column;

    .section1 {
      margin-top: 1px;
      display: flex;
      align-items: center;
      height: 100%;

      .phone {
        object-fit: cover;
      }

      .sectionsContent {
        flex: 1;
        height: 100%;
        font-family: Bold;

        .her {
          margin-bottom: 10px;
          font-size: 16px;
          color: v.$textColor4;
        }

        .title {
          font-size: 36px;
          margin-bottom: 20px;
          margin-top: 20px;
        }

        .subtitle {
          color: v.$textColor4;
          font-size: 18px;
          line-height: 1.8;
        }
        .icon {
          display: flex;
          align-items: center;
          color: v.$lightBlue;
          margin-top: 15px;
        }
      }
    }
  }

  .payNow {
    display: flex;
    align-items: center;
    padding: 100px 100px 100px 100px;
    background-color: v.$purple;
    flex-direction: column;

    .payhero {
      font-family: Bold;
      width: 100px;
      background-color: white;
      border-radius: 10px;
      padding: 5px;
      font-size: 14px;
      text-align: center;
      color: v.$textColor1;
      margin-bottom: 20px;
    }

    .paytitle {
      font-family: Bold;
      font-size: 46px;
      color: v.$textColor1;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .paysubtitle {
      font-family: Regular;
      font-size: 16px;
      color: v.$textColor3;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .palm {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      .firstpalm {
        margin: 40px;
        display: flex;
        align-items: center;
        text-align: center;
        font-family: SemiBold;
        color: v.$lightBlue;

        .palmtitle {
          font-size: 16px;
        }
        .palmnumber {
          font-size: 30px;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .palmsubtitle {
          font-size: 30px;
        }
      }
    }
  }

  .swiper {
    display: flex;
    flex-direction: column;

    .swipeqoute {
      font-family: Bold;
      color: v.$lightBlue;
      font-size: 80px;
      text-align: center;
      margin-top: 100px;
    }

    .swipetag {
      text-align: center;
      font-family: SemiBold;
      font-size: 40px;
      margin: 30px 0px 50px 0px;
    }
  }

  .footer {
    background-color: v.$nav;

    .footerFirst {
      padding: 100px 50px 50px 200px;
      display: flex;

      .subscribe {
        flex-direction: column;
        width: 50%;
        margin-right: 40px;

        .subdesc {
          color: white;
          font-family: Regular;
          font-size: 16px;
          margin: 10px 0px;
        }

        .subTitle {
          font-family: SemiBold;
          color: white;
          font-size: 48px;
          margin: 20px 0px;
        }

        .subsSubtitle {
          font-family: Bold;
          font-size: 14px;
          color: white;
          margin: 40px 0px 0px;
        }

        .textInput {
          align-items: center;

          .inputfield {
            display: flex;

            input {
              outline: none;
              border: none;
              margin-top: 20px;
              background-color: transparent;
              color: white;
              font-size: 20px;
              flex: 1;

              ::placeholder {
                font-size: 20px;
              }
            }

            .subicon {
              font-family: Bold;
              display: flex;
              background-color: v.$nav;
              width: 100px;
              padding: 10px 16px;
              margin: 0px 0px 10px 0px;
              border-radius: 15px;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              color: v.$green;
              font-size: 14px;
              border: 1px solid v.$green;
            }
          }
        }
      }
    }

    .footerSecond {
      display: flex;
      align-items: center;
      margin-top: 10px;
      color: white;
      justify-content: center;
      padding: 20px;

      .first {
        margin-right: 50px;

        .firsttitle {
          font-size: 30px;
          font-family: Bold;
        }
        .firstsubtitle {
          font-size: 20px;
          font-family: Regular;
          margin: 20px 0px;
          color: v.$textColor9;
        }
        .links {
          display: flex;
          align-items: center;
          margin-top: 10px;
          cursor: pointer;
        }
      }
      .second {
        width: 50%;
        display: flex;

        justify-content: space-around;

        .contact {
          flex-direction: column;

          .contacthead {
            font-family: Bold;
            color: white;
            font-size: 16px;
            margin-bottom: 25px;
          }
          .contactbody {
            font-family: Regular;
            font-size: 16px;
            color: v.$textColor10;
            margin-bottom: 35px;
            cursor: pointer;

            &:hover {
              color: white;
            }
          }
          .contactbody .contactIcon {
            display: flex;
            align-items: center;
          }
        }
      }
    }

    .footerThird {
      padding: 20px;

      .thirdfooter {
        font-family: Regular;
        text-align: center;
        color: v.$textColor10;
        font-size: 14px;
        margin: 10px 0px;
      }
    }
  }
}
