@use "variables" as v;

.navbar {
  display: flex;
  align-items: center;
  margin: 40px 80px 0px 60px;
  color: white;
  cursor: pointer;

  .first {
    margin-right: 60px;
    font-family: Bold;
    background-color: none;
    font-size: 30px;
  }

  .second {
    display: flex;
    align-items: center;
    flex: 1;
    font-family: Bold;
    color: v.$textColor8;
    font-size: 16px;

    .items {
      margin-right: 80px;
      &:hover {
        font-family: Bold;
        color: white;
      }
    }
  }

  .third {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 20px;
    padding: 10px;
    background-color: v.$lightBlue;
    color: white;
    font-family: Bold;
    font-size: 12px;
    border-radius: 8px;

    .icon {
      font-size: 16px;
    }
  }
}
