@use "variables" as v;

.navbar {
  display: flex;
  margin: 40px 80px 0px 60px;
  cursor: pointer;

  .first {
    margin-right: 60px;
    font-family: Bold;
    background-color: none;
    font-size: 30px;
    color: white;
  }

  .second {
    display: flex;
    width: 600px;
    align-items: center;
    font-family: Bold;
    font-size: 16px;
    justify-content: space-between;

    .items {
      text-decoration: none;
      color: v.$textColor8 !important;

      &:hover {
        color: white !important;
      }
    }

    .active {
      color: white;
      text-decoration: none !important;
    }
  }
}
