@font-face {
  font-family: Bold;
  src: url(../src/fonts/Arimo-Bold.ttf);
}
@font-face {
  font-family: Medium;
  src: url(../src/fonts/Arimo-Medium.ttf);
}
@font-face {
  font-family: SemiBold;
  src: url(../src/fonts/Arimo-SemiBold.ttf);
}
@font-face {
  font-family: Regular;
  src: url(../src/fonts/Arimo-Regular.ttf);
}

.swiper-pagination-bullet-active {
  background-color: blue !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
}
.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
}
