@font-face {
  font-family: Bold;
  src: url(../src/fonts/Arimo-Bold.ttf);
}
@font-face {
  font-family: Medium;
  src: url(../src/fonts/Arimo-Medium.ttf);
}
@font-face {
  font-family: SemiBold;
  src: url(../src/fonts/Arimo-SemiBold.ttf);
}
@font-face {
  font-family: Regular;
  src: url(../src/fonts/Arimo-Regular.ttf);
}
