.slider {
  padding: 0px 50px 0px 50px;
  display: flex;
  justify-content: space-evenly;

  .swiper_container {
    position: relative;
    width: 100%;
  }
  .swiper-slide {
    margin-bottom: 100px !important;
    position: relative;
    margin-right: 1px !important;

    .trySlide {
      width: 100%;
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .first {
        font-size: 30px;
        font-family: SemiBold;
        margin: 20px 0px 20px 0px;
      }

      .second {
        font-size: 18px;
        font-family: Regular;
        line-height: 1.8;
        width: 80%;
        color: #595d69;
      }

      .third {
        font-size: 16px;
        font-family: Bold;
        margin: 20px 0px 20px 0px;
        color: #777b84;
      }
    }
  }
}
